.env
.venv
__pycache__

# all data files but not the README, and the download script
data/*
!data/README.md
!data/download_datasets.sh

backup/
figures/

# General macOS 
.DS_Store
.AppleDouble
.LSOverride