ipykernel

matplotlib
matplotlib-inline
pandas

gensim
scipy==1.12

# pos tagging
stanza # the "new stanfordnlp" (https://github.com/stanfordnlp/stanza)
nltk
spacy
treetaggerwrapper==2.3
# at least v1.1.2 since there were some bugs in the previous version
HanTa==1.1.2

scikit-learn
sklearn-crfsuite

# for GUI
tk

poslog
